<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/geral.css">
    <link rel="stylesheet" href="css/registro.css">
    <!-- fonte: https://github.com/sergiomoura/contatos-html-template/blob/main/css/geral.css -->
    <title>Contatos</title>
</head>

<body>
    <form action="/registrar" method="post">
        <label>
            Nome:
            <input type="text" name="nome" id="nome">
        </label>
        <label>
            E-mail:
            <input type="email" name="email" id="email">
        </label>
        <label>
            Senha:
            <input type="password" name="senha" id="senha">
        </label>
        <label>
            Confirmação de Senha:
            <input type="password" name="confirmacao" id="confirmacao">
        </label>
        <div class="controles">
            <button type="reset" class="link">Cancelar</button>
            <button type="submit">Registrar</button>
        </div>
        <% if(typeof(errors) != 'undefined') { %>
            <p class="feedback">ERRORS</p>
        <% } %>
    </form>

</body>

</html>